*{
    margin: 0;
    font-family: Arial;
    border:border-box;
    text-transform: uppercase;

}
.navbar
{
    background-color: black;
    height:80px;
    color: white;
    display: flex;

}
#searchbar{
    margin-left: 250px;
    margin-top: 20px;
}
#about{
    margin-left: 300px;
    font-weight: 800px;
}
#cart{
    margin-left: 400px;
    font-weight: 700px;
}




